$primary-color: rgba(18, 135, 253, 1);

//background-colors
$dark-bg: rgba(12, 19, 34, 1);
$white-bg: rgba(255, 255, 255, 1);
$gray-bg: rgba(199, 199, 199, 1);
$light-gray-bg: rgba(161, 169, 178, 0.4);
$medium-gray-bg: rgba(239, 243, 247, 1);
$text-blue: rgba(16, 103, 225, 1);
$neutral-gray: rgba(248, 250, 251, 1);


// text-colors
$text-black: rgba(32, 39, 48, 1);
$text-gray: rgba(105, 116, 130, 1);
$text-gray-light: rgba(67, 77, 89, 1);
$text-gray-medium: rgba(153, 162, 173, 1);
$text-white: rgba(255, 255, 255, 1);


// border-colors
$border-light: rgba(223, 229, 235, 1);
$border-medium-light: rgba(211, 218, 227, 1);
$border-medium-dark: rgba(192, 199, 207, 1);
$border-dark: rgba(176, 184, 192, 1);

//font-family
$font-family-inter: 'Inter', sans-serif;


